@import url('./vendor/fonts/fonts.css');
@import url('./vendor/normalize.css');

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter',
    Arial,
    sans-serif;
}

.header {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo {
  margin: 0;
  padding: 0;
  height: 32px;
  width: 228px;
  background-image: url('../images/logo_place_header.svg');
  background-repeat: no-repeat;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
}

.header__title {
  margin: 0;
  padding: 0;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 1;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.header__link {
  margin: 0;
  padding: 0;
  color: #2f80ed;
  text-decoration: 0;
}

.header__link:hover {
  opacity: 0.7;
  transition: 0.1s linear;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.content {
  margin: 0;
  padding: 0;
}

.description {
  padding: 0;
  padding-top: 100px;
  margin: 0 auto;
}

.two-columns {
  padding: 0;
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  /* margin-top: 30px; */
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

.techniques {
  margin: 0 auto;
  padding-top: 100px;
  width: 80%;
}

.section-title {
  margin: 0 auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
  margin: 0 auto;
  padding-top: 20px;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.section-subtitle_theme_dark {
  color: white
}

.cards {
  padding: 0;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  max-width: 920px;
  column-gap: 100px;
  row-gap: 60px;
}

.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.cards__title {
  margin: 0;
  padding: 0;
  padding-top: 43px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards__description {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.video {
  padding: 0;
  margin: 0;
  padding-top: 100px;
}

.video__iframes {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1050px;
  position: relative;
  bottom: -50px;
}

.video__iframe {
  width: 515px;
  height: 316px;

}

.oakley {
  padding: 0;
  margin: 0;
  padding-top: 160px;
  background-color: #f2f2f2;
}

.feynman {
  margin: 0;
  padding: 0;
  padding-top: 100px;
  background-color: #f2f2f2;
  height: 890px;
  position: relative;
  background-image: url('../images/feynman.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  box-sizing: border-box;
}

.feynman__title {
  margin: 0 auto;
  padding: 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  margin: 0 auto;
  padding: 0;
  padding-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: 0.7;
  transition: 0.1s linear;
}

.khan {
  margin: 0;
  padding: 0;
  padding-top: 100px;
  background-color: #f2f2f2;
}

.khan__container {
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

.khan__author {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.khan__quote {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  padding: 0;
  padding-top: 36px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.khan__quote-author-subline {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin: 0;
  padding: 0;
  padding-top: 68px;
  display: flex;
  flex-direction: row;
  column-gap: 48px;
}

.khan__book-pic {
  margin: 0;
  padding: 0;
  width: 620px;
  height: 608px;
  background-image: url('../images/khan-book.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.khan__buy-link {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: 0.7;
  transition: 0.1s linear;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.table {
  margin: 0 auto;
  padding: 0;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  width: 1100px;
  justify-content: space-between;
}

.table_theme_dark {
  padding-top: 80px;
  row-gap: 80px;
  color: white;
}

.table__cell {
  width: 250px;
}

.table__cell_theme_dark {
  color: white;
  width: 200px;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__heading_theme_dark {
  color: white;
}

.table__text {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_theme_dark {
  color: white;
}

.kaufman {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  z-index: -2;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.resources {
  padding: 0;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 217px;
}

.resources__logo-zone {
  padding: 0;
  padding-top: 80px;
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: center;
}

.resources__link {
  margin: 0;
  padding: 0;
}

.resources__link:hover {
  opacity: 0.7;
  transition: 0.1s linear;
}

.resources__logo {
  margin: 0;
  padding: 0;
  width: 270px;
  height: 38px;
}

.footer {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  padding: 0;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 16px;
  row-gap: 10px;
}

.footer__author {
  padding: 0;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  padding: 0;
  margin: 0;
  line-height: 18px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-link {
  padding: 0;
  margin: 0;
  display: flex;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  opacity: 0.7;
  transition: 0.1s linear;
}

.footer__social-icon {
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
}

@keyframes animation_key-frames_rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animation__rotation360 {
  animation: animation_key-frames_rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
